<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="alert.js"></script>
    <script>
        /*
        javascript 작성위치
        1. 내장형
        head 안에 script태그를 기술하고 사용한다.
        2. 인라인형
        태그 속성의 값으로 기술할때 사용한다.
        3. 외장형
        alert.js 파일을 외부에 만들고 자바스크립트를 기술한다.
        <script src="alert.js"> </ script>를 이용혀서 html파일에서
            연결한다.
        */
        alert("내장형");

        function f1(){
            alert('인라인');
            alert('함수');
        }
    </script>
</head>
<body>
    <button onclick="alert('인라인형');">클릭</button>
    <button onclick="f1();">클릭</button>
</body>
</html>