<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>화면 출력</title>
  <script>
      //자바스크립트는 html문서안에 기술하는데
      //script태그 안에 기술한다.
      //script태그는 아무곳에서나 기술할 수 있지만
      //head태그 안에 script태그안에 넣을 것을 권장함


      //document, alert
    //화면이 로딩되고 난 다음에 다시 호출하면
    //화면이 지워짐
    //test용으로만 사용권장
      //alert도 될 수 있으면 사용하지 않는게 좋다. for문을 사용하면 화면에 많이 뜸
    document.write("hello world <br>");
    document.write("hello world");


    alert("hello world");

    // console.log 장점은 객체를 찍으면 객체내부확인 가능
    console.log("hello world");

  </script>


</head>
<body>

</body>
</html>