<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h3><font color="red" th:text="${session['member'].id}"></font>로그인 되었습니다.</h3>-->
<!--
    <a th:if="${session['member'].role == 'ROLE_ADMIN'}" th:href="@{/deleteBorad(seq=${board.seq})}">글삭제</a>
    글삭제는 ROLE_ADMIN 을 가진 사용자만 글삭제 가능하게 만든 것.
-->
    <a th:href="@{/logout}">LOG_OUT</a>

    <a th:href="@{Member_business_Join/Choice_Member_Join}">회원가입</a>

    <!--시큐리티 : 모두 가능하게-->
    <a th:href="@{businessMember/bm_Join/bm_Join}">사업자 회원가입</a>
    <a th:href="@{Member/mJoin/Join}">일반 회원가입</a>

    <!--시큐리티 : 회원가입을 한 이용자만 가능하게-->
    <a th:href="@{Member/Login}">로그인페이지로</a>
    <a th:href="@{businessMember/LoginBm}">사업자 로그인</a>

    <!--시큐리티 : 회원-->
    <a th:href="@{Member/mUpdate/Update}">회원 수정하기</a>
    <a th:href="@{Member/selectMember/select}">회원 찾기</a>

    <!--시큐리티 : 관리자만 볼 수 있게-->
    <a th:href="@{Member/memberList/members}">회원목록</a>





</body>
</html>