<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/document.css">
    <link rel="stylesheet" href="/css/comment.css">
    <title>게시 글 상세</title>
</head>
<body>
    <h1 th:align="center">게시글 상세</h1>
    <main>
        <div class="row" >
            <div class="category" th:text="${board.category}">카테고리</div>
        </div>
        <div class="row">
            <div class="title" th:text="${board.title}">제목입니다</div>
        </div>
        <div class="row between">
            <span class="name fl">작성자</span>
            <span class="name fr" th:text="${board.writer}"></span>
            <div class="fr">
                <div class="date fl" th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></div>
                <span class="cnt fl">조회수</span>
                <span class="cnt fr"th:text="${board.cnt}"></span>
            </div>
        </div>
        </div>
        <article class="content" th:text="${board.content}"></article>
        <div class="row between">
            <a class="btn back fl" th:href="@{/board/getBoardList}"></a>
            <div class="row fr gap">
                <a class="btn write fl" th:href="@{/board/updateBoard(seq=${board.seq})}"></a>
                <form class="fl" action="deleteBoard" method="post">
                    <input type="hidden" name="seq" th:value="${board.seq}">
                    <button class="btn delete" onclick="this.submit()"></button>
                </form>
            </div>
        </div>
    </main>


</body>
</html>