<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            width:100%;
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
            color: rgb(0, 0, 0, 0.56);
            font-size: 18px;
        }
        form > div{
            /*background: orange;*/
        }

    </style>
</head>
<body>
<form action="#" method="post">
    <div><a href="#">여기어때.</a></div>
    <div>
        <a href="#">
            <span>카카오톡으로 로그인</span>
        </a>
        <a href="#">
            <span>Facebook으로 로그인</span>
        </a>
        <a href="#">
            <span>네이버로 로그인</span>
        </a>
    </div>
    <p><span>또는</span></p>
    <div>
        <div>이메일 그림</div>
        <input type="email" placeholder="이메일 주소">
    </div>
    <div>
        <div>자물쇠 그림</div>
        <input type="password" placeholder="비밀번호">
    </div>
    <input type="button" placeholder="로그인">
    <div><span>비밀번호 재설정</span></div>
    <div><span>회원가입</span></div>
</form>
</body>
</html>