{{>common/header}}

<div class="main">
    {{#msg}}
        <h2>Message: {{msg}}</h2>
    {{/msg}}
    <h2>selectAll</h2>

    {{#dtos}}
    <table width="30%">
        <tr>
            <td>id:</td><td>{{id}}</td>
        </tr>
        <tr>
            <td>name:</td><td><a href="/selectOne/{{id}}">{{name}}</a></td>
        </tr>
        <tr>
            <td>password:</td><td>{{password}}</td>
        </tr>
    </table>
    {{/dtos}}
        <tr>
            <td colspan="2"><a href="/insert">insert</a></td>
        </tr>
</div>

{{>common/footer}}