{{>common/header}}

<div class="main">
    <h2>selectOne</h2>

    {{#dto}}
    <table width="30%">
        <tr>
            <td>id:</td><td>{{id}}</td>
        </tr>
        <tr>
            <td>name:</td><td>{{name}}</td>
        </tr>
        <tr>
            <td>password:</td><td>{{password}}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="/selectAll">selectAll</a>&nbsp;
                <a href="/update/{{id}}">update</a>&nbsp;
                <a href="/delete/{{id}}">delete</a>&nbsp;
                <a href="/insert">insert</a> </td>
        </tr>
    </table>
    {{/dto}}
</div>

{{>common/footer}}